@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --x-color: #3b82f6;
  --o-color: #f59e0b;
}

.x-next::before {
  content: 'X';
  transform: scale(0);
  color: transparent;
  -webkit-text-stroke: 1px var(--x-color);
}
.x-next:hover::before {
  content: 'X';
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}

.o-next::before {
  content: 'O';
  transform: scale(0);
  color: transparent;
  -webkit-text-stroke: 1px var(--o-color);
}
.o-next:hover::before {
  content: 'O';
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}

.button-3d {
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.4);
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  cursor: pointer;
}
.button-3d:focus {
  outline: none;
}
.button-3d-click:active {
  transform: translateY(4px);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.4) !important;
}
